    <footer id="appFooter">
        <small>&copy; 2015</small>
    </footer>

    <!-- scripts -->
    <script src="public/scripts/vendor/lodash.js"></script>
    <script src="public/scripts/vendor/angular.js"></script>
    <script src="public/scripts/app.js"></script>
    <script src="public/scripts/constants/colorsConst.js"></script>
    <script src="public/scripts/models/human.js"></script>
    <script src="public/scripts/services/humansRepository.js"></script>
    <script src="public/scripts/controllers/playersCtrl.js"></script>

</body>

</html>
